.dialog_message_icon {
    background-image: url('info.png');
}

.dialog_warning_icon {
    background-image: url('warning.png');
}

.dialog_error_icon {
    background-image: url('error.png');
}

.dialog_prompt_icon, .dialog_confirm_icon {
    background-image: url('question.png');
}
