.model-grid-icon {
    background-image: url('noimage.png');
    min-height: 100%;
    min-width: 100%;
}

.model-grid-item-selected > .model-grid-icon-wrapper {
    outline-color: #4e81d3;
    outline-width: 2px;
    outline-style: solid;
}

.model-grid-footer .edit {
    display: none;
}

.editing .edit {
    display: block;
}

.editing .model-grid-name {
    display: none;
}

.model-grid-name {
    color: #000;
    width: 202px;
    height: 19px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
}

.model-grid-date {
    width: 202px;
    height: 15px;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    color: #808080;
}
