.libbit-bootstrap .yui3-skin-sam .yui3-datatable tr:hover td {
    background-color: #f5f5f5;
}

.libbit-bootstrap .yui3-skin-sam .yui3-datatable tr >td.datatable-selected,
.libbit-bootstrap .yui3-skin-sam .yui3-datatable tr > td.datatable-selected:hover {
    background-color: #0088cc;
    color: white;
}

.libbit-bootstrap .yui3-skin-sam .yui3-datatable-odd td.datatable-selected:hover  {
    background-color: #0088cc;
    color: white;
}

.libbit-bootstrap .yui3-skin-sam .yui3-datatable-even .yui3-datatable-cell {
    background-color: #f9f9f9;
}

.libbit-bootstrap .yui3-skin-sam .yui3-datatable-odd .yui3-datatable-cell {
    background-color: white;
}

.libbit-bootstrap .yui3-skin-sam .yui3-datatable-even .yui3-datatable-sorted {
    background-color: #f9f9f9;
}

.libbit-bootstrap .yui3-skin-sam .yui3-datatable-odd .yui3-datatable-cell {
    background-color: white;
}
