.model-grid-container {
    float: left;
    display: block;
    width: 246px;
    height: 300px;
}

.model-grid-icon {
    position: relative;
    background-color: white;
}

.model-grid-icon-wrapper {
    position: relative;
    width: 159px;
    height: 225px;
    margin-left: 46px;
    margin-right: 46px;
    box-shadow: 0 3px 3px #888888;
}

.model-grid-icon-container {
    position: relative;
    width: 246px;
    height: 225px;
    margin-top: 14px;
    margin-bottom: 3px;
}

.model-grid-footer {
    width: 246px;
    height: 33px;
    margin-top: 10px;
}

.model-grid-icon {
    position: relative;
    background-color: white;
}

.model-grid-footer .edit {
    display: none;
    width: 246px;
    height: 20px;
    font-size: 16px;
    line-height: 12px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    margin-top: -1px;
    border: 0;
}

.model-grid-footer.editing .edit {
    display: block;
}

.model-grid-footer.editing .model-grid-name {
    display: none;
}
