.libbit-treeview-content .icon-toggle {
    margin-left: 2px;
    margin-top: 3px;
}

.libbit-treeview-content .label-container {
    white-space: nowrap;
}

.libbit-treeview-icon {
    width: 16px !important;
}

.yui3-treeview-has-children {
    overflow: hidden;
}

/* Reserve the pointer for hyperlinks */
.yui3-treeview-row {
    cursor: default !important;
}
